/* Configuration commune aux blocs de code */
.highlight {
    border-radius: 4px;
}

/* Mode SOMBRE (Slate) */
[data-md-color-scheme="slate"] .highlight { background-color: #282c34; }
[data-md-color-scheme="slate"] .highlight .c { color: #5c6370; font-style: italic; } /* Commentaire */
[data-md-color-scheme="slate"] .highlight .k { color: #c678dd; font-weight: bold; }  /* Mot-clé */
[data-md-color-scheme="slate"] .highlight .s { color: #98c379; }                    /* String */
[data-md-color-scheme="slate"] .highlight .nv { color: #e6c07b; }                   /* Variable */
[data-md-color-scheme="slate"] .highlight .nb { color: #61afef; }                   /* Built-in (echo, ping) */

/* Mode CLAIR (Default) */
[data-md-color-scheme="default"] .highlight { 
    background-color: #f5f5f5; 
}
[data-md-color-scheme="default"] .highlight .c { color: #999988; font-style: italic; }
[data-md-color-scheme="default"] .highlight .k { color: #008080; font-weight: bold; }
[data-md-color-scheme="default"] .highlight .s { color: #d14; }
[data-md-color-scheme="default"] .highlight .nv { color: #008080; }
[data-md-color-scheme="default"] .highlight .nb { color: #0086b3; }